body, html {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: var(--dark);
    color: var(--white);
}

body > .container-fluid {
    min-height: calc(100vh - 60px);
}

body > .container-fluid ~ footer {
    line-height: 59px;
    height: 59px;
    text-align: center;
    border-top: 1px solid var(--light);
}

.posts {
    padding: 12px;
}

.post {
    padding: 12px;
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.3);
    margin-top: 12px;
    margin-bottom: 12px;
}

.post .post-title {
    font-size: 18px;
}

.post .post-body {
    font-size: 12px;
}

.banner {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}

.banner.active {
    display: block;
}